/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/flex-utils";

.action-sheet-popover {
  .popover-content {
    left: 0 !important;
    top: unset !important;
    bottom: 0;
    width: 100%;
    min-height: 50%;
  }
}

.sc-ion-input-md-h {
  //--padding-top: 0px;
  //--padding-start: 0px;
  //--padding-bottom: 0px;
  //--padding-end: 0px;
}

//noinspection CssInvalidHtmlTagReference
ion-popover {
  --width: 94vw !important;
  --max-width: 500px !important;
}

.ion-popover-game-edit {
  .popover-content {
    top: 3vh !important;
    left: 3vw !important;
    width: 94vw !important;
    max-width: 94vw !important;
    height: 94vh !important;
    max-height: 94vh !important;
  }
}

.counter-title {
  padding-inline-end: 0;
  .counter {
    float: right;
    line-height: 24px;
    font-size: 0.8rem;
  }
}
